form {
    display: flex;
     flex-direction: column;
     gap: 1px;
}

input {
     padding: 10px;
    border: 1px solid #ccc;
     border-radius: 8px;
  font-size: 16px;
}

button{ 
    padding: 10px;
    max-width: 100px;
    text-align: center;

}

.button-container {
    display: flex;
    align-items: center;
    height:100vh;
    justify-content: center;
}

.Add-Project {
    padding: 10px;
    display: flex;
    cursor: pointer;
}


