/* Center everything on the page */
.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  border: 1px solid #d9dbf0;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: sans-serif;
}

/* Form layout */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Input styling */
.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.log-in-button {
  margin: auto;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.log-in-button :hover {
   margin: auto;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 50px;
  cursor: pointer;
  background-color:#666;
  color: #666;
  transition: background-color 0.3s ease;
}



.signup-button {
  margin: auto;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 50px;
  cursor: pointer;
}

/* Buttons */
.login-form button,
.metamask-button {
  width: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: progress;
  background-color: #4a90e2;
  color: white;
  transition: background-color 0.3s ease;
}

.login-form button:hover,
.metamask-button:hover {
  background-color: #357ab8;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #104685;
  color: white;
  transition: background-color 0.3s ease;
}

/* Divider */
.divider {
  margin: 100px 0;
  font-weight: bold;
  color: #666;
}
